body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

.header{
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    font-size: 18px;
    padding: 10px;
    
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
    padding-left: 100px;
    font-weight: 800;
}
.content{
    flex: 1;
    display: flex;
}
.footer{
    background-color: #1F2937;
    height: 45px;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding-right: 100px;
    gap: 30px;
}
a {
    color: #f9faf8;
    text-decoration: none;
  }